.main-page {
  padding: 32px 30px 40px 30px;
  margin-left: 88px;
}

.main-page__header {
  display: block;
  margin-bottom: 24px;
}

.main-page__search {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  column-gap: 24px;
  margin-bottom: 24px;
}

.main-page__content {
  margin-top: 24px;
}

.main-page__wrapper {
  overflow-x: auto;
}

.main-page__content {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.main-page__content-search {
  display: none;
}

.main-page__table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 1440px;
}

.main-page__table-th {
  padding: 16px 24px;
  text-align: left;
  background: var(--background-400);
  font-family: var(--font);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary);
  text-transform: uppercase;
  white-space: nowrap;
}

.main-page__table-th:first-child {
  border-radius: 30px 0 0 30px;
}

th:last-child {
  border-radius: 0 30px 30px 0;
}

.main-page__table-th-group {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.main-page__table-tr {
  border-bottom: 1px solid var(--background-400);
}

.main-page__table-td {
  padding: 16px 24px;
  font-family: var(--font);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--strong-primary-default);
  text-transform: uppercase;
  vertical-align: top;
}

.main-page__table-td--nowrap {
  white-space: nowrap;
}

.main-page__table-link {
  font-family: var(--font);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--accent-primary-default);
}

.main-page__table-actions {
  display: flex;
  align-items: center;
}

.main-page__table-action {
  margin-right: 6px;
}

.main-page__table-remove {
  margin-left: 43px;
}

.main-page__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-page__footer-download {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  font-family: var(--font);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--accent-primary-default);
}

@media (max-width: 1439px) {
  .main-page {
    margin-left: 0;
    padding: 24px;
  }

  .main-page__header {
    margin-bottom: 19px;
  }

  .main-page__search {
    column-gap: 32px;
  }
}

@media (max-width: 743px) {
  .main-page {
    padding: 13px 16px 24px 16px;
  }

  .main-page__header {
    margin-bottom: 20px;
  }

  .main-page__search {
    grid-template-columns: 1fr;
    margin-bottom: 37px;
  }

  .main-page__search-input {
    display: none;
  }

  .main-page__content-search {
    display: block;
  }
}
