<template>
  <div class="ui-select">
    <button class="ui-select__toggle">
      <span class="ui-select__toggle-label">
        <span class="ui-select__toggle-ellipse">Выберите вид платежа</span
        ><span class="ui-select__toggle-required">*</span>
      </span>

      <span class="ui-select__toggle-selected"></span>

      <img
        src="../../../assets/icons/chevron-down.svg"
        alt="chevron-down"
        class="ui-select__toggle-icon"
      />
    </button>

    <div class="ui-select__dropdown">
      <slot></slot>
    </div>
  </div>
</template>
