<template>
  <div class="shared-menu">
    <div class="shared-menu__header">
      <a class="shared-menu__header-logo" href="/">
        <img src="assets/icons/logo-text.svg" alt="Paytoday" />
      </a>

      <button data-id="cross-menu" class="shared-menu__header-burger">
        <img src="assets/icons/cross-menu.svg" alt="cross-menu" />
      </button>
    </div>

    <div class="shared-menu__container">
      <shared-search
        data-id="search-menu"
        class="shared-menu__search"
        isWhite
        placeholder="Поиск"
      ></shared-search>

      <div class="shared-menu__collapses">
        <shared-collapse title="Платежи" icon="assets/icons/wallet.svg">
          <div class="shared-menu__collapse-content">
            <a href="#" class="shared-menu__collapse-link">Оплаты</a>

            <a href="#" class="shared-menu__collapse-link">Мои подписки $</a>

            <a href="#" class="shared-menu__collapse-link"
              >Сводная статистика</a
            >

            <a href="#" class="shared-menu__collapse-link">Акты</a>
          </div>
        </shared-collapse>

        <shared-collapse
          class="shared-menu__collapse"
          title="Маркетплейс"
          icon="assets/icons/stats.svg"
        >
        </shared-collapse>

        <shared-collapse
          class="shared-menu__collapse"
          title="Программы"
          icon="assets/icons/people.svg"
        >
        </shared-collapse>

        <shared-collapse
          class="shared-menu__collapse"
          title="Профиль"
          icon="assets/icons/user.svg"
        >
        </shared-collapse>

        <shared-collapse
          class="shared-menu__collapse"
          title="Еще"
          icon="assets/icons/more.svg"
        >
        </shared-collapse>
      </div>

      <shared-support class="shared-menu__support"></shared-support>
    </div>
  </div>
</template>
