<template>
  <div class="shared-sidebar">
    <div class="shared-sidebar__logo">
      <img
        src="../../../assets/icons/logo.svg"
        alt="Paytoday"
        class="shared-sidebar__logo-image"
      />
    </div>

    <button
      class="shared-sidebar__search shared-sidebar__navigation-item"
      data-route="search"
    >
      <img src="../../../assets/icons/search-normal.svg" alt="Search" />
    </button>

    <div class="shared-sidebar__navigation">
      <button class="shared-sidebar__navigation-item" data-route="payments">
        <img src="../../../assets/icons/wallet.svg" alt="Payments" />
      </button>

      <button class="shared-sidebar__navigation-item" data-route="stats">
        <img src="../../../assets/icons/stats.svg" alt="Statistics" />
      </button>

      <button class="shared-sidebar__navigation-item" data-route="people">
        <img src="../../../assets/icons/people.svg" alt="People" />
      </button>

      <button class="shared-sidebar__navigation-item" data-route="profile">
        <img src="../../../assets/icons/user.svg" alt="Profile" />
      </button>

      <button class="shared-sidebar__navigation-item" data-route="more">
        <img src="../../../assets/icons/more.svg" alt="More" />
      </button>
    </div>
  </div>
</template>
