<template>
  <div class="shared-sidebar">
    <button class="shared-sidebar__logo">
      <img
        src="assets/icons/logo-text.svg"
        alt="Paytoday"
        class="shared-sidebar__logo-image"
      />

      <img src="assets/icons/chevron-left.svg" alt="chevron-left" />
    </button>

    <div class="shared-sidebar__search">
      <img
        src="assets/icons/search.svg"
        alt="search"
        class="shared-sidebar__search-icon"
      />

      <input
        type="text"
        class="shared-sidebar__search-input"
        placeholder="Поиск"
      />
    </div>

    <div class="shared-sidebar__navigation">
      <div class="shared-sidebar__collapse">
        <button class="shared-sidebar__collapse-header">
          <div class="shared-sidebar__collapse-header-group">
            <img
              class="shared-sidebar__collapse-icon"
              src="assets/icons/wallet.svg"
              alt="icon"
            />

            <span class="shared-sidebar__collapse-title">Платежи</span>
          </div>

          <img
            class="shared-sidebar__collapse-chevron"
            src="assets/icons/chevron-down.svg"
            alt="chevron-down"
          />
        </button>

        <div class="shared-sidebar__collapse-content">
          <a class="shared-sidebar__collapse-content-link" href="#">Оплаты</a>

          <a class="shared-sidebar__collapse-content-link" href="#">
            Мои подписки $
          </a>

          <a class="shared-sidebar__collapse-content-link" href="#">Акты</a>
        </div>
      </div>

      <div class="shared-sidebar__collapse">
        <button class="shared-sidebar__collapse-header">
          <div class="shared-sidebar__collapse-header-group">
            <img
              class="shared-sidebar__collapse-icon"
              src="assets/icons/stats.svg"
              alt="icon"
            />

            <span class="shared-sidebar__collapse-title">Маркетплейс</span>
          </div>

          <img
            class="shared-sidebar__collapse-chevron"
            src="assets/icons/chevron-down.svg"
            alt="chevron-down"
          />
        </button>

        <div class="shared-sidebar__collapse-content"></div>
      </div>

      <div class="shared-sidebar__collapse">
        <button class="shared-sidebar__collapse-header">
          <div class="shared-sidebar__collapse-header-group">
            <img
              class="shared-sidebar__collapse-icon"
              src="assets/icons/people.svg"
              alt="icon"
            />

            <span class="shared-sidebar__collapse-title">Программы</span>
          </div>

          <img
            class="shared-sidebar__collapse-chevron"
            src="assets/icons/chevron-down.svg"
            alt="chevron-down"
          />
        </button>

        <div class="shared-sidebar__collapse-content"></div>
      </div>

      <div class="shared-sidebar__collapse">
        <button class="shared-sidebar__collapse-header">
          <div class="shared-sidebar__collapse-header-group">
            <img
              class="shared-sidebar__collapse-icon"
              src="assets/icons/user.svg"
              alt="icon"
            />

            <span class="shared-sidebar__collapse-title">Профиль</span>
          </div>

          <img
            class="shared-sidebar__collapse-chevron"
            src="assets/icons/chevron-down.svg"
            alt="chevron-down"
          />
        </button>

        <div class="shared-sidebar__collapse-content"></div>
      </div>

      <div class="shared-sidebar__collapse">
        <button class="shared-sidebar__collapse-header">
          <div class="shared-sidebar__collapse-header-group">
            <img
              class="shared-sidebar__collapse-icon"
              src="assets/icons/more.svg"
              alt="icon"
            />

            <span class="shared-sidebar__collapse-title">Еще</span>
          </div>

          <img
            class="shared-sidebar__collapse-chevron"
            src="assets/icons/chevron-down.svg"
            alt="chevron-down"
          />
        </button>

        <div class="shared-sidebar__collapse-content"></div>
      </div>
    </div>

    <div class="shared-sidebar__support">
      <p class="shared-sidebar__support-label">Поддержка</p>

      <a class="shared-sidebar__support-link" href="mailto:ask@paytoday.pro">
        ask@paytoday.pro
      </a>
    </div>
  </div>
</template>
