.shared-sort {
  display: flex;
  flex-direction: column;
  row-gap: 2.5px;
  background: none;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.shared-sort__icon {
  fill: var(--secondary);
  transition: fill var(--transition);
}

.shared-sort__icon--active {
  fill: var(--strong-primary-default);
}
