.courses-page {
  padding: 32px 30px 32px 118px;
}

.courses-page__profile {
  margin-bottom: 24px;
  display: block;
}

.courses-page__block {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 24px;
  margin-bottom: 24px;
}

.courses-page__wrapper {
  width: 100%;
  overflow-x: auto;
}

.courses-page__table {
  width: 100%;
  min-width: 1440px;
  border-collapse: collapse;
  border-spacing: 0;
}

.courses-page__table-th {
  padding: 16px 8px;
  text-align: left;
  background: var(--background-400);
  font-family: var(--font);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary);
  text-transform: uppercase;
  white-space: nowrap;
}

.courses-page__table-th:first-child {
  padding-left: 24px;
}

.courses-page__table-th:last-child {
  padding-right: 24px;
}

.courses-page__table-th-group {
  display: flex;
  align-items: center;
  column-gap: 7px;
  width: fit-content;
}

.courses-page__table-th:first-child .courses-page__table-th-group {
  justify-content: center;
  width: auto;
}

.courses-page__table-th:first-child {
  border-radius: 30px 0 0 30px;
}

th:last-child {
  border-radius: 0 30px 30px 0;
}

.courses-page__table-td {
  padding: 24px 8px;
  font-family: var(--font);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--strong-primary-default);
  vertical-align: middle;
}

.courses-page__table-td:first-child {
  padding-left: 24px;
}

.courses-page__table-td:last-child {
  padding-right: 24px;
}

.courses-page__table-td--id {
  color: var(--accent-primary-default);
}

.courses-page__table-tr {
  border-bottom: 1px solid var(--background-400);
}

.courses-page__table-link {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--accent-primary-default);
  max-width: 242px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  text-align: center;
}

.courses-page__table-group {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.courses-page__table-group p,
.courses-page__table-link {
  white-space: nowrap;
}

.courses-page__table-block {
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.courses-page__table-label {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: var(--accent-primary-default);
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.courses-page__table-switch {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 8px;
}

@media (max-width: 1439px) {
  .courses-page {
    padding: 24px;
  }

  .courses-page__profile {
    margin-bottom: 35px;
  }

  .courses-page__block {
    margin-bottom: 32px;
  }
}

@media (max-width: 743px) {
  .courses-page {
    padding: 13px 16px;
  }

  .courses-page__profile {
    margin-bottom: 40px;
  }

  .courses-page__block {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
}
