:root {
  --font: "Montserrat", sans-serif;

  --white: #ffffff;
  --white-600: #ffffff99;
  --error: #eb5757;
  --green: #2a9604;
  --green-light: #c1ef0929;
  --secondary: #606f97;
  --separator: #dadbe7;
  --background: #e1e6f4;
  --strong-primary-default: #171719;
  --background-600: #edf0f8;
  --background-400: #f3f5fb;
  --background-secondary: #edf0f8;
  --accent-primary-default: #1876ee;
  --accent-primary-hover: #1876eecc;
  --accent-primary-pressed: #0564dd;
  --strong-primary-hover: #6c7ca8;

  --container-680: 680px;

  --transition: 0.3s;
}
