.shared-statistics {
  background: var(--background-400);
  border-radius: 30px;
}

.shared-statistics__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  font-family: var(--font);
  width: 100%;
  padding: 32px 24px;
}

.shared-statistics__toggle-icon {
  transform: rotate(180deg);
  transition: transform var(--transition);
}

.shared-statistics__toggle-icon--active {
  transform: rotate(0deg);
}

.shared-statistics__content {
  padding: 0 24px 40px 24px;
  margin-top: -8px;
}

.shared-statistics__content--hide {
  display: none;
}

.shared-statistics__filters {
  display: flex;
}

.shared-statistics__divider {
  width: 1px;
  height: 44px;
  background: var(--secondary);
  margin: auto 16px 6px 16px;
}

.shared-statistics__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
}

.shared-statistics__block-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: var(--secondary);
}

.shared-statistics__group {
  display: flex;
  align-items: center;
  gap: 8px;
}

.shared-statistics__group-button {
  background: none;
  cursor: pointer;
  padding: 0;
  border-radius: 56px;
  padding: 5px 16px 7px 16px;
  border: 1px solid var(--accent-primary-default);
  font-size: 14px;
  line-height: 28px;
  color: var(--accent-primary-default);
  font-family: var(--font);
  font-weight: 600;
  white-space: nowrap;
  transition: color var(--transition), background var(--transition);
}

.shared-statistics__group-button--active {
  color: var(--white);
  background: var(--accent-primary-default);
}

.shared-statistics__date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 32px 0;
}

.shared-statistics__date-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: var(--secondary);
}

.shared-statistics__date-group {
  display: flex;
  align-items: center;
  gap: 16px;
}

.shared-statistics__footer {
  display: flex;
  column-gap: 165px;
}

.shared-statistics__summary {
  display: flex;
  column-gap: 98px;
}

.shared-statistics__summary-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shared-statistics__summary-item-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: var(--secondary);
  margin: 0 0 12px 0;
}

.shared-statistics__summary-item-amount {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: var(--strong-primary-default);
  margin: 0 0 8px 0;
}

.shared-statistics__summary-item-amount--usd {
  font-size: 16px;
  margin: 0;
}

.shared-statistics__orders {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.shared-statistics__orders-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: var(--strong-primary-default);
  margin: 0;
}

.shared-statistics__orders-block {
  display: flex;
  column-gap: 36px;
}

.shared-statistics__orders-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shared-statistics__orders-group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: var(--strong-primary-default);
  margin: 0;
}

.shared-statistics__orders-group-amount {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  color: var(--secondary);
}

.shared-statistics__filters-clear {
  display: none;
}

.shared-statistics__date-group {
  position: relative;
}

.shared-statistics__date-title {
  display: none;
}

.shared-statistics__date-calendar {
  position: absolute;
  top: 63px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition), visibility var(--transition);
}

.shared-statistics__date-calendar--active {
  opacity: 1;
  visibility: visible;
}

.shared-statistics__date-button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  background: none;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 56px;
  background: transparent;
  border: 1px solid var(--accent-primary-default);
  padding: 8px 14px 8px 20px;
  font-size: 14px;
  line-height: 28px;
  color: var(--accent-primary-default);
  font-family: var(--font);
  font-weight: 600;
  transition: background var(--transition);
}

.shared-statistics__date-button--active {
  color: var(--white);
  background: var(--accent-primary-default);
}

.shared-statistics__date-button-clear {
  display: none;
}

.shared-statistics__date-button-clear--active {
  display: block;
}

.shared-statistics__date-button-icon--hide {
  display: none;
}

@media (max-width: 1439px) {
  .shared-statistics__toggle {
    padding: 37px 24px;
  }

  .shared-statistics__content {
    margin-top: -13px;
    padding-bottom: 32px;
  }

  .shared-statistics__wrapper {
    display: flex;
    flex-direction: column-reverse;
    row-gap: 23px;
  }

  .shared-statistics__date {
    margin: 0;
  }

  .shared-statistics__filters {
    flex-direction: column;
    row-gap: 23px;
  }

  .shared-statistics__divider {
    display: none;
  }

  .shared-statistics__block {
    display: grid;
    align-items: center;
    grid-template-columns: 150px 1fr;
    column-gap: 32px;
  }

  .shared-statistics__footer {
    margin-top: 40px;
    flex-direction: column;
  }

  .shared-statistics__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 0;
  }

  .shared-statistics__orders {
    margin-top: 40px;
    row-gap: 16px;
  }

  .shared-statistics__orders-block {
    display: flex;
    justify-content: space-between;
    column-gap: 0;
  }

  .shared-statistics__orders-group {
    max-width: 134px;
    width: 100%;
  }

  .shared-statistics__date-title {
    display: block;
  }

  .shared-statistics__date {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    column-gap: 32px;
  }

  .shared-statistics__date-clear {
    display: none;
  }

  .shared-statistics__filters-clear {
    display: block;
  }
}

@media (max-width: 743px) {
  .shared-statistics__toggle {
    padding: 16px 24px;
  }

  .shared-statistics__content {
    padding: 16px 24px 16px 24px;
    margin-top: 0;
  }

  .shared-statistics__wrapper {
    row-gap: 24px;
  }

  .shared-statistics__date-title {
    display: none;
  }

  .shared-statistics__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .shared-statistics__group {
    flex-wrap: wrap;
  }

  .shared-statistics__filters-clear {
    margin: 0 auto;
  }

  .shared-statistics__footer {
    margin-top: 32px;
  }

  .shared-statistics__orders {
    margin-top: 32px;
  }

  .shared-statistics__summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .shared-statistics__summary-item-amount {
    font-size: 24px;
    line-height: 40px;
  }

  .shared-statistics__summary-item-amount--usd {
    font-size: 16px;
    line-height: 20px;
  }

  .shared-statistics__orders-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 32px;
  }

  .shared-statistics__date {
    grid-template-columns: 1fr;
  }

  .shared-statistics__date-button {
    width: 100%;
    justify-content: space-between;
  }
}
