.ui-option {
  width: 100%;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  padding: 16px 24px;
  cursor: pointer;
  transition: background var(--transition);
}

.ui-option--active {
  background: #F3F8FE;
}

.ui-option--active .ui-option__icon {
  opacity: 1;
}

.ui-option__label {
  margin: 0;
  font-family: var(--font);
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: var(--strong-primary-default);
}

.ui-option__icon {
  opacity: 0;
  transition: opacity var(--transition);
}
