.ui-textarea {
  box-sizing: border-box;
  border-radius: 20px;
  background: var(--background-secondary);
  width: 100%;
  max-width: 100%;
  height: 160px;
  border: 1px solid transparent;
  resize: none;
  padding: 16px 24px;
  outline: none;
  font-family: var(--font);
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: var(--strong-primary-default);
  transition: background var(--transition), color var(--transition),
    border-color var(--transition);
}

.ui-textarea::placeholder {
  opacity: 1;
  color: var(--secondary);
  transition: color var(--transition);
}

.ui-textarea:hover {
  background: var(--background-400);
}

.ui-textarea:hover::placeholder {
  color: var(--strong-primary-hover);
}

.ui-textarea:focus {
  background: var(--background-secondary);
  border-color: var(--accent-primary-default);
}

.ui-textarea:focus::placeholder {
  color: var(--secondary);
}
