.shared-back {
  width: 60px;
  height: 60px;
  background: var(--background-600);
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  transition: background-color var(--transition);
}

.shared-back__icon {
  transition: fill var(--transition);
}

.shared-back:hover {
  fill: var(--white);
  background-color: var(--accent-primary-default);
}

.shared-back:active {
  fill: var(--white-600);
  background-color: var(--accent-primary-pressed);
}

.shared-back:disabled {
  fill: #d1d1d1;
  background-color: var(--background-600);
  cursor: default;
}

@media (max-width: 743px) {
  .shared-back {
    width: 24px;
    height: 24px;
    background: none;
  }

  .shared-back:hover {
    fill: var(--strong-primary-hover);
    background: none;
  }

  .shared-back:active {
    fill: var(--strong-primary-hover);
    background: none;
  }

  .shared-back:disabled {
    background: none;
  }
}
