.shared-back {
  width: 60px;
  height: 60px;
  background: var(--background-600);
  border-radius: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
}

@media (max-width: 743px) {
  .shared-back {
    width: 24px;
    height: 24px;
    background: none;
  }
}
