<template>
  <div class="shared-partner-program">
    <div class="shared-partner-program__backdrop"></div>

    <div class="shared-partner-program__content">
      <div class="shared-partner-program__header">
        <h2 class="shared-partner-program__title">
          Как работает Партнерская программа
        </h2>

        <button class="shared-partner-program__close">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            class="shared-partner-program__close-icon"
          >
            <path
              d="M18.8746 16.7533C19.4604 17.3391 19.4604 18.2888 18.8746 18.8746C18.2888 19.4604 17.3391 19.4604 16.7533 18.8746L12.1569 14.2782L7.56066 18.8744C6.97487 19.4602 6.02513 19.4602 5.43934 18.8744C4.85355 18.2886 4.85355 17.3388 5.43934 16.753L10.0355 12.1569L5.4396 7.56092C4.85381 6.97513 4.85381 6.02539 5.4396 5.4396C6.02539 4.85381 6.97513 4.85381 7.56092 5.4396L12.1569 10.0355L16.753 5.43934C17.3388 4.85355 18.2886 4.85355 18.8744 5.43934C19.4602 6.02513 19.4602 6.97487 18.8744 7.56066L14.2782 12.1569L18.8746 16.7533Z"
            />
          </svg>
        </button>
      </div>

      <div class="shared-partner-program__list">
        <div class="shared-partner-program__item">
          <p class="shared-partner-program__item-number">1</p>

          <p class="shared-partner-program__item-label">
            Создайте уникальный промокод и передайте его представителю
            привлекаемого клиента. Один промокод можно использовать для
            подключения нескольких клиентов, либо для каждого использовать
            персональный. Количество промокодов и/или подключаемых школ
            неограниченно.
          </p>
        </div>

        <div class="shared-partner-program__item">
          <p class="shared-partner-program__item-number">2</p>

          <p class="shared-partner-program__item-label">
            Представитель клиента проходит стандартную процедуру регистрации в
            нашей системе: оставляет заявку на сайте по указанным контактам,
            включает в нее информацию о промокоде. Впоследствии система
            автоматически определит партнера по промокоду, поэтому никаких
            дополнительных данных не требуется.
          </p>
        </div>

        <div class="shared-partner-program__item">
          <p class="shared-partner-program__item-number">3</p>

          <p class="shared-partner-program__item-label">
            После активации клиента по вашему промокоду наша комиссия для него
            будет составлять 9% первые 2 месяца, затем — 10%.
          </p>
        </div>

        <div class="shared-partner-program__item">
          <p class="shared-partner-program__item-number">4</p>

          <p class="shared-partner-program__item-label">
            Ваше партнерское вознаграждение будет составлять 5% от нашей
            комиссии на все оплаченные счета от привлекаемого вами клиента в
            течение 1 (одного) года. Датой начала периода считается активация
            привлеченной школы в нашей системе, минуя процессы проверки,
            согласования, подписи документов.
          </p>
        </div>

        <div class="shared-partner-program__item">
          <p class="shared-partner-program__item-number">5</p>

          <p class="shared-partner-program__item-label">
            Минимальная сумма вывода партнерского вознаграждения = 3000 рублей.
            Возможность вывода средств становится активной при достижении данной
            суммы на партнерском балансе. Все денежные средства выводятся на ваш
            расчетный счет, указанный при регистрации. Движение партнерских
            средств сопровождается актом.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
