.shared-sidebar {
  width: 88px;
  height: 100%;
  padding: 24px 16px;
  background: var(--background-400);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  transition: width 0.3s ease-in-out;
}

.shared-sidebar--expanded {
  width: 260px;
  box-shadow: 0px 3px 4px 0px #6c7ca840;
}

.shared-sidebar--expanded .shared-sidebar__logo {
  max-width: 100%;
}

.shared-sidebar--expanded .shared-sidebar__search {
  pointer-events: auto;
}

.shared-sidebar--expanded .shared-sidebar__support {
  opacity: 1;
  visibility: visible;
}

.shared-sidebar--expanded .shared-sidebar__collapse-title {
  opacity: 1;
}

.shared-sidebar--expanded .shared-sidebar__collapse-chevron {
  opacity: 1;
}

.shared-sidebar--expanded .shared-sidebar__support-label {
  opacity: 1;
}

.shared-sidebar--expanded .shared-sidebar__support-link {
  opacity: 1;
}

.shared-sidebar--expanded .shared-sidebar__open {
  opacity: 0;
  visibility: hidden;
}

.shared-sidebar__logo {
  max-width: 48px;
  overflow-x: hidden;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 0 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transition: max-width 0.3s ease-in-out;
}

.shared-sidebar__search {
  margin: 52px 0 38px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 100%;
  padding: 12px 16px 12px 16px;
  border: 1px solid transparent;
  border-radius: 66px;
  background: var(--white);
  box-sizing: border-box;
  pointer-events: none;
}

.shared-sidebar__search-input {
  width: 100%;
  border: none;
  background: transparent;
  font-family: var(--font);
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  outline: none;
  color: var(--strong-primary-default);
}

.shared-sidebar__search-input::placeholder {
  color: var(--secondary);
}

.shared-sidebar__navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  width: 100%;
}

.shared-sidebar__support {
  margin-top: auto;
  padding: 20px 32px;
  background: var(--white);
  border-radius: 24px;
  box-sizing: border-box;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}

.shared-sidebar__support-label {
  margin: 0 0 8px 0;
  font-size: 16px;
  line-height: 24px;
  color: var(--strong-primary-default);
  font-weight: 500;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.shared-sidebar__support-link {
  font-family: var(--font);
  color: var(--accent-primary-default);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.shared-sidebar__collapse {
  width: 100%;
  border-radius: 32px;
}

.shared-sidebar__collapse--active {
  background: var(--white);
}

.shared-sidebar__collapse--active .shared-sidebar__collapse-chevron {
  transform: rotate(180deg);
}

.shared-sidebar__collapse-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 18px;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: padding var(--transition);
  overflow: hidden;
}

.shared-sidebar__collapse-header-group {
  display: flex;
  align-items: center;
  column-gap: 8px;
  height: 24px;
}

.shared-sidebar__collapse-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: var(--strong-primary-default);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.shared-sidebar__collapse-content {
  padding: 0 0 24px 48px;
  display: none;
}

.shared-sidebar__collapse-chevron {
  opacity: 0;
  transition: transform var(--transition), opacity 0.3s ease-in-out;
}

.shared-sidebar__collapse--active .shared-sidebar__collapse-content {
  display: flex;
  opacity: 1;
}

.shared-sidebar__collapse--active .shared-sidebar__collapse-title {
  opacity: 1;
}

.shared-sidebar__collapse--active .shared-sidebar__collapse-chevron {
  opacity: 1;
}

.shared-sidebar__collapse-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 16px;
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.shared-sidebar__collapse-content-link {
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  color: var(--strong-primary-default);
  text-decoration: none;
  display: block;
  transition: color var(--transition);
  white-space: nowrap;
}

.shared-sidebar__collapse-content-link:hover {
  color: var(--accent-primary-default);
}

.shared-sidebar--hidden {
  .shared-sidebar__collapse-content {
    opacity: 0;
    display: none !important;
    visibility: hidden !important;
  }
}

.shared-sidebar--hidden .shared-sidebar__collapse-title {
  opacity: 0;
}

.shared-sidebar--hidden .shared-sidebar__collapse-chevron {
  opacity: 0;
}

.shared-sidebar__open {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 18px;
  margin-top: 12px;
}
