<template>
  <div class="shared-collapse">
    <button class="shared-collapse__header">
      <div class="shared-collapse__header-group">
        <img class="shared-collapse__icon" src="" alt="icon" />

        <span class="shared-collapse__title"></span>
      </div>

      <img
        class="shared-collapse__chevron"
        src="../../../assets/icons/chevron-down.svg"
        alt="chevron-down"
      />
    </button>

    <div class="shared-collapse__content">
      <slot></slot>
    </div>
  </div>
</template>
