.shared-copy__toggle {
  background: #edf4fe;
  border: 1px solid #1876ee14;
  padding: 8px;
  outline: none;
  cursor: pointer;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
