.shared-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shared-profile--main {
  column-gap: 69px;
  width: 100%;
}

.shared-profile__group {
  display: flex;
  align-items: center;
  column-gap: 37px;
}

.shared-profile__title {
  font-size: 52px;
  line-height: 100%;
  font-weight: 700;
  color: var(--strong-primary-default);
  margin: 0;
}

.shared-profile__group {
  display: flex;
  align-items: center;
  column-gap: 37px;
}

.shared-profile__balance {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.shared-profile__amount {
  display: flex;
  align-items: center;
}

.shared-profile__amount-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: var(--strong-primary-default);
  margin: 0;
  white-space: nowrap;
}

.shared-profile__amount-title--secondary {
  font-size: 16px;
}

.shared-profile__label {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  color: var(--secondary);
  margin: 0;
}

.shared-profile__account {
  position: relative;
}

.shared-profile__account-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  background: none;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.shared-profile__account-dropdown {
  position: absolute;
  top: 51px;
  right: 0;
  box-shadow: 0px 4px 12px 0px #606F9733;
  padding: 10px 0;
  background: var(--white);
  border-radius: 20px;
  width: 240px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition);
}

.shared-profile__account-dropdown--visible {
  opacity: 1;
  visibility: visible;
}

.shared-profile__account-item {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  font-family: var(--font);
  color: var(--strong-primary-default);
  padding: 16px 24px 16px 24px;
}

@media (max-width: 1439px) {
  .shared-profile__group {
    column-gap: 32px;
  }

  .shared-profile--main .shared-profile__group {
    justify-content: space-between;
    width: 100%;
  }

  .shared-profile__balance {
    flex-direction: column;
    align-items: flex-start;
  }

  .shared-profile--partner-program {
    align-items: flex-start;
  }
}

@media (max-width: 743px) {
  .shared-profile {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
  }

  .shared-profile__title {
    font-size: 32px;
    line-height: 40px;
  }

  .shared-profile__group {
    width: 100%;
    justify-content: space-between;
  }
}
