<template>
  <div class="shared-profile">
    <h1 class="shared-profile__title">
      <slot></slot>
    </h1>

    <div class="shared-profile__group">
      <div class="shared-profile__balance">
        <p class="shared-profile__label">Текущий баланс</p>

        <div class="shared-profile__amount">
          <h4
            data-id="profile-balance-rub"
            class="shared-profile__amount-title"
          >
            10 000₽
          </h4>

          <h5
            data-id="profile-balance-usd"
            class="shared-profile__amount-title shared-profile__amount-title--secondary"
          >
            / $1 000.234
          </h5>
        </div>
      </div>

      <div class="shared-profile__account">
        <button class="shared-profile__account-toggle">
          <img src="assets/icons/profile.svg" alt="profile" />
        </button>

        <div class="shared-profile__account-dropdown">
          <a class="shared-profile__account-item" href="profile.html">
            <img src="assets/icons/profile-circle.svg" alt="profile" />

            Профиль
          </a>

          <a class="shared-profile__account-item" href="users.html">
            <img src="assets/icons/people.svg" alt="people" />

            Пользователи
          </a>

          <button
            class="shared-profile__account-item shared-profile__account-item--exit"
          >
            <img src="assets/icons/exit.svg" alt="exit" />

            Выход
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
