<template>
  <div class="shared-modal">
    <div class="shared-modal__backdrop"></div>

    <div class="shared-modal__content">
      <button class="shared-modal__close">
        <img src="assets/icons/cross.svg" alt="cross" />
      </button>

      <div class="shared-modal__icon">
        <img class="shared-modal__icon-img" src="" alt="modal-icon" />
      </div>

      <div class="shared-modal__heading"></div>

      <div class="shared-modal__actions">
        <button class="shared-modal__button shared-modal__confirm"></button>

        <button class="shared-modal__button shared-modal__cancel"></button>
      </div>
    </div>
  </div>
</template>
