.shared-date {
  position: relative;
  width: 100%;
}

.shared-date__button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  background: none;
  cursor: pointer;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 56px;
  background: transparent;
  border: 1px solid var(--accent-primary-default);
  padding: 8px 14px 8px 20px;
  font-size: 14px;
  line-height: 28px;
  color: var(--accent-primary-default);
  font-family: var(--font);
  font-weight: 600;
  white-space: nowrap;
  transition: background var(--transition);
}

.shared-date__button--active {
  color: var(--white);
  background: var(--accent-primary-default);
}

.shared-date__button-clear {
  display: none;
}

.shared-date__button-clear--active {
  display: block;
}

.shared-date__button-icon--hide {
  display: none;
}

.shared-date__calendar {
  position: absolute;
  top: 63px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition), visibility var(--transition);
  z-index: 2;
}

.shared-date__calendar--view-statistics {
  left: 0;
  right: auto !important;
}

.shared-date__calendar--active {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1439px) {
  .shared-date__button--view-acts {
    height: 60px;
  }
}

@media (max-width: 743px) {
  .shared-date__button--view-acts {
    height: auto;
  }
}
