<template>
  <div class="shared-date">
    <button class="shared-date__button">
      <span class="shared-date__button-title"> За все время </span>

      <img
        class="shared-date__button-icon"
        src="assets/icons/calendar.svg"
        alt="calendar"
      />

      <img
        class="shared-date__button-clear"
        src="assets/icons/cross-white.svg"
        alt="close"
      />
    </button>

    <shared-calendar class="shared-date__calendar"></shared-calendar>
  </div>
</template>
