.shared-status {
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  border-radius: 20px;
  padding: 2px 12px 3px 9px;
  margin-right: auto;
  width: fit-content;
  text-transform: none;
  white-space: nowrap;
}

.shared-status--pending,
.shared-status--not-active,
.shared-status--refund {
  background: var(--background-400);
  color: var(--secondary);
}

.shared-status--paid,
.shared-status--active {
  background: var(--green-light);
  color: var(--green);
}

.shared-status--error {
  background: #c8054b14;
  color: #c8054b;
}
