@import "variables.css";
@import "fonts.css";

* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background: var(--white);
  font-family: var(--font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

div,
p,
input,
form,
textarea {
  box-sizing: border-box;
}

img {
  display: block;
}

.header {
  display: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

main {
  padding-left: 88px;
}

@media (max-width: 1439px) {
  .header {
    display: flex;
  }

  .sidebar {
    display: none;
  }

  main {
    padding-left: 0;
  }
}
