<template>
  <div class="shared-calendar">
    <div class="shared-calendar__navbar">
      <img src="assets/icons/logo-text.svg" alt="Paytoday" />

      <button class="shared-calendar__close">
        <img src="assets/icons/cross-menu.svg" alt="cross" />
      </button>
    </div>

    <div class="shared-calendar__wrapper">
      <div class="shared-calendar__month">
        <div class="shared-calendar__navigation">
          <button
            class="shared-calendar__navigation-item shared-calendar__navigation-item--prev"
          >
            <img src="assets/icons/chevron-left.svg" alt="chevron-left" />
          </button>

          <shared-month
            class="shared-calendar__month-select"
            data-month="left"
          ></shared-month>
        </div>

        <div class="shared-calendar__weeks">
          <div class="shared-calendar__month-day">пн</div>
          <div class="shared-calendar__month-day">вт</div>
          <div class="shared-calendar__month-day">ср</div>
          <div class="shared-calendar__month-day">чт</div>
          <div class="shared-calendar__month-day">пт</div>
          <div class="shared-calendar__month-day">сб</div>
          <div class="shared-calendar__month-day">вс</div>
        </div>

        <div class="shared-calendar__month-view" data-month="left"></div>
      </div>

      <div class="shared-calendar__month">
        <div
          class="shared-calendar__navigation shared-calendar__navigation--last"
        >
          <shared-month
            class="shared-calendar__month-select"
            data-month="right"
          ></shared-month>

          <button
            class="shared-calendar__navigation-item shared-calendar__navigation-item--next"
          >
            <img src="assets/icons/chevron-right.svg" alt="chevron-right" />
          </button>
        </div>

        <div class="shared-calendar__weeks">
          <div class="shared-calendar__month-day">пн</div>
          <div class="shared-calendar__month-day">вт</div>
          <div class="shared-calendar__month-day">ср</div>
          <div class="shared-calendar__month-day">чт</div>
          <div class="shared-calendar__month-day">пт</div>
          <div class="shared-calendar__month-day">сб</div>
          <div class="shared-calendar__month-day">вс</div>
        </div>

        <div class="shared-calendar__month-view" data-month="right"></div>
      </div>
    </div>
  </div>
</template>
